# 身份證字號
ID_NUMBER=

# 登入相關設定
LOGIN_URL=https://stockservices.tdcc.com.tw/evote/login/shareholder.html
LOGIN_TIMEOUT=30

# 憑證種類 (可選：券商網路、自然人憑証、公司憑証等)
CERT_TYPE=券商網路

# 截圖跳過名單（公司代碼，用逗號分隔）
SCREENSHOT_SKIP_LIST=[1432,6757]
